body {
    font-family: 'Gilroy-Medium', sans-serif;
    margin: 0;
    overflow-x: hidden;
}
footer {
    background-color: #D48C57;
    width: 100vw;
    height: 150px;
}
.website-credits {
    font-size: 16px;
    font-family: 'Gilroy-Regular', sans-serif;
}
.icon-credits {
    position:relative;
    top: -40px;
    font-size: 16px;
    font-family: 'Gilroy-Regular', sans-serif;
}
.credits {
    position:relative;
    left: 150px;
    top: -80px;
    width:450px;
    font-size: 20px;
    font-family: 'Gilroy-Bold', sans-serif;
}
.logo-img {
    position:relative;
    left: 20px;
    top: 25px;
}
.icon-link {
    color: black;
}
a {
    text-decoration: none;
}
.license {
    position:relative;
    left: 1100px;
    top: -170px;
}
.logo-intro {
    background-color: #47200F;
    color: #FFFAF0;
    height: 100px;
    font-size: 50px;
    line-height:100px;
    text-align:center;
    width: 100vw;
}
.nav-bar {
    background-color: #864319;
    color: #FFFAF0;
    height: 50px;
    line-height:50px;
    font-size: 30px;
    width: 100vw;
}
.home-link {
    background-color: #864319;
    color: #FFFAF0;
    height: 50px;
    line-height:50px;
    font-size: 30px;
    width: 100vw;
    margin-left: 20px;
}
.news-link {
    background-color: #864319;
    color: #FFFAF0;
    height: 50px;
    line-height:50px;
    font-size: 30px;
    width: 100vw;
}
.info-link {
    background-color: #864319;
    color: #FFFAF0;
    height: 50px;
    line-height:50px;
    font-size: 30px;
    width: 100vw;
    text-align:right;
}
.main-container {
    background-color: #FFFAF0;
    width: 100vw;
}
.text-container {
    position:relative;
    background-color: White;
    width: 70vw;
    box-shadow: 1 1 1 rgba(red, green, blue, alpha);
    border-radius: 2px;
    position:relative;
    left: 200px;
    height:1440px;
}
#news {
    margin: 0;
    margin-left: 20px;
    font-family: 'Gilroy-Medium', sans-serif;
}
.thumbnail {
    margin: 20px;
    position:relative;
    top: -20px;
}
.headline {
    position:relative;
    top: -300px;
    left: 590px;
    width:450px;
    font-size: 30px;
}
.text-headline {
    position:relative;
    top: -300px;
    left: 590px;
    width:450px;
    font-size: 30px;
}
.fake-news {
    position:relative;
    top: 30px;
    width: 70vw;
    height: 440px,
}
.fake-news:hover {
    cursor: pointer;
}
.text-container:hover {
    background-color: gainsboro;
}
a:hover {
    cursor: pointer;
    text-decoration: underline;
}
.text-container-notizia {
    position:relative;
    background-color: White;
    width: 70vw;
    box-shadow: 1 1 1 rgba(red, green, blue, alpha);
    border-radius: 2px;
    position:relative;
    left: 200px;
    height:250vh;
}
.text-title {
    margin:20px;
}
.text {
    margin:20px;
}
#im1{
    display: block;
     margin-left: auto;
    margin-right: auto;
    width: 50vw;
}







@media screen and (min-width: 768px) {
body {
    font-family: 'Gilroy-Medium', sans-serif;
    margin: 0;
    overflow-x: hidden;
}
footer {
    background-color: #D48C57;
    width: 100vw;
    height: 150px;
}
.website-credits {
    font-size: 16px;
    font-family: 'Gilroy-Regular', sans-serif;
}
.icon-credits {
    position:relative;
    top: -40px;
    font-size: 16px;
    font-family: 'Gilroy-Regular', sans-serif;
}
.credits {
    position:relative;
    left: 150px;
    top: -80px;
    width:450px;
    font-size: 20px;
    font-family: 'Gilroy-Bold', sans-serif;
}
.logo-img {
    position:relative;
    left: 20px;
    top: 25px;
}
.icon-link {
    color: black;
}
a {
    text-decoration: none;
}
.license {
    position:relative;
    left: 1100px;
    top: -170px;
}
.logo-intro {
    background-color: #47200F;
    color: #FFFAF0;
    height: 100px;
    font-size: 50px;
    line-height:100px;
    text-align:center;
    width: 100vw;
}
.nav-bar {
    background-color: #864319;
    color: #FFFAF0;
    height: 50px;
    line-height:50px;
    font-size: 30px;
    width: 100vw;
}
.home-link {
    background-color: #864319;
    color: #FFFAF0;
    height: 50px;
    line-height:50px;
    font-size: 30px;
    width: 100vw;
    margin-left: 20px;
}
.news-link {
    background-color: #864319;
    color: #FFFAF0;
    height: 50px;
    line-height:50px;
    font-size: 30px;
    width: 100vw;
}
.info-link {
    background-color: #864319;
    color: #FFFAF0;
    height: 50px;
    line-height:50px;
    font-size: 30px;
    width: 100vw;
    text-align:right;
}
.main-container {
    background-color: #FFFAF0;
    width: 100vw;
}
.text-container {
    position:relative;
    background-color: White;
    width: 70vw;
    box-shadow: 1 1 1 rgba(red, green, blue, alpha);
    border-radius: 2px;
    position:relative;
    left: 200px;
    height:440px;
}
#news {
    margin: 0;
    margin-left: 20px;
    font-family: 'Gilroy-Medium', sans-serif;
}
.thumbnail {
    margin: 20px;
    position:relative;
    top: -20px;
}
.headline {
    position:relative;
    top: -300px;
    left: 590px;
    width:450px;
    font-size: 30px;
}
.text-headline {
    position:relative;
    top: -300px;
    left: 590px;
    width:450px;
    font-size: 30px;
}
.fake-news {
    position:relative;
    top: 30px;
    width: 70vw;
    height: 440px,
}
.fake-news:hover {
    cursor: pointer;
}
.text-container:hover {
    background-color: gainsboro;
}
a:hover {
    cursor: pointer;
    text-decoration: underline;
}
.text-container-notizia {
    position:relative;
    background-color: White;
    width: 70vw;
    box-shadow: 1 1 1 rgba(red, green, blue, alpha);
    border-radius: 2px;
    position:relative;
    left: 200px;
    height:250vh;
}
.text-title {
    margin:20px;
}
.text {
    margin:20px;
}
#im1{
    display: block;
     margin-left: auto;
    margin-right: auto;
    width: 50vw;
}
}






